.About {
  position: absolute;
  top: 4em;
  width: 50%;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .About {
    top: 10em;
  }
}

.About > * {
  margin: 16px;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 1em 0;
}

