:root {
  --color-white: rgb(255, 255, 255);
  --color-tan: rgb(241, 240, 240);
  --color-black: rgb(0, 0, 0)
}

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: var(--color-white);
  width: 100vw;
  word-wrap: break-word;
}
